html{
    font-family: Lucida Grande, "Sans-Serif";
    background-color:#000000; color:#ffffff;
} 
div {
    height: 150px;
    padding: 25px;
}
#red {
    background-color: #ff0000;
    text-align: right;
} 
#blue {
    background-color: #0000ff;
    text-align: left;
}

#yellow {
    color: #000000;
    background-color: #ffff00;
    text-align: right;
    text-shadow: 5px 5px 2px #c7e2c7;
}
#green {
    background-color: #008000;
    text-align: left;
}

h1 {
    font-size: 64px;
    text-align: center;
}
h2 {
    font-size: 30px;
    text-shadow: #808080;
    offset: 5px horizontally;
    text-shadow: 5px 5px 2px #808080;

} 
p{
    font-size: 24px;
    padding-top: 20px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    size: 525px;
    width: 20%;
}
footer {
    text-align: right;
    padding-bottom: 10px;
    padding-right: 10px;
}
